%h2 Nike+ data visualization
%p
  This app retrieves activity from your Nike+ account,
  generating a personalized 3D model of from your data.
  %br
  Your model will be added to Thingiverse where
  the Customizer tool can export a file suitable for printing.
%h3 Where to next?
%p
  You should not be accessing this page directly.
  Instead you should
  %a{href:"https://www.thingiverse.com/apps/nike-activity-visualizer"} go to the app on thingiverse
