%h2 Success
%p
  the app has created a 3D model of your activity
  and uploaded it to thingiverse.
  %br
  #{thing_id} / #{thing_name}
  %br
%h2 Customizer
%p
  %a{:href=>"#{destination_url}", :target=>'_top'}View your Nike Activity in Customizer
